body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.year-selector-wrapper {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.apexcharts-menu-icon {
  display: none;
}

.apexcharts-legend.position-bottom .apexcharts-legend-series,
foreignObject {
  display: block !important;
}

.recommendation-card {
  background: #D6DDEE;
  max-width: 433px;
}

.recommended-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.recommended-label,
.recommended-value {
  font-size: 20px;
}

.recommended-value {
  font-weight: bold;
  font-style: italic;
}